:root {
    --primary: #D81324;
    --secondary: #0B2154;
    --light: #F2F2F2;
    --dark: #111111;
}


.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

.facebook-float {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 100px;
    z-index: 99;
}

/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    font-weight: 500;
    text-transform: uppercase;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #ffffff;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 2px;
}



/*** Navbar ***/
.navbar{
    background-image: url(../img/bg-final.jpg);
}


.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

.navbar-light .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: #FFFFFF;
    font-size: 15px;
    text-transform: uppercase;
    outline: none;
    font-weight: 550;
}

.navbar-light .navbar-nav .login-link {
    display: none;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: rgb(21, 255, 21);
}

@media (max-width: 991.98px) {
    .navbar-light .navbar-nav .nav-link {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar-light .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }

    .navbar-light .navbar-nav .login-link {
        display: block;
    }
}





.navbar-light .navbar-brand,
.navbar-light a.btn {
    height: 75px;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
}

.navbar-light.sticky-top {
    top: -100px;
    transition: .5s;
}



/*** Header ***/
.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .7);
    z-index: 1;
}

.carousel-control-prev,
.carousel-control-next {
    width: 10%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
}

@media (max-width: 768px) {
    #header-carousel .carousel-item {
        position: relative;
        min-height: 450px;
    }

    #header-carousel .carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.carousel-inner {
    width: auto;
    height: 500px;
}

.carousel-item {
    position: relative;
    width: 100%;
    height: 100%;
}


.page-header {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-header-inner {
    background: rgba(0, 0, 0, .7);
}

.breadcrumb-item+.breadcrumb-item::before {
    color: var(--light);
}


/*** Filter ***/
/* Style the form */
.filter-price, .list-acc {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
    padding: 20px;
}

/* Style the label */
.filter-price label {
    font-weight: bold;
    margin-right: 10px;
}

/* Style the select element */
.filter-price select {
    width: 250px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: #053423;
    color: white;
    margin-right: 10px;
}


/* Style the submit button */
.filter-price input[type=submit] {
    width: 150px;
    height: 40px;
    background-color: #04AA6D;
    color: white;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

/* Style the cancel link */
.filter-price a {
    width: 150px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    background-color: #D81324;
    border: none;
    border-radius: 5px;
}

@media only screen and (max-width: 480px) {

    .filter-price select,
    .filter-price input[type=submit],
    .filter-price a {
        width: 100%;
        margin-right: 0;
        margin-top: 10px;
    }

    .filter-price {
        flex-direction: column;
    }


}


/*** Team ***/
.team-bg{
    background-image: url(../img/bg-carousel-1.jpg);
}


.team-item .img-item-container {
    position: relative;
}

.team-item .img-item-container .accvip {
    position: absolute;
    right: 0;
}


.iteam-sub-detail {
    width: 100%;
}



.team-item .team-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(11, 76, 126, 0.393);
    transform: scale(0);
    transition: .5s;

}

.team-item:hover .team-overlay {
    transform: scale(1);
}

.team-item .team-overlay .btn {
    color: var(--primary);
    background: #FFFFFF;
}

.team-item .team-overlay .btn:hover {
    color: #FFFFFF;
    background: var(--secondary)
}

@keyframes glow {
    0% {
        box-shadow: 0 0 0 0 greenyellow;
    }

    50% {
        box-shadow: 0 0 30px 0 greenyellow;
    }
}

.btn-buy-item .btn {
    background: none;
    color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn-buy-item  .btn-glow {
    background: greenyellow;
    color: rgb(9, 37, 12);
    font-size: 22px;
    font-weight: 600;
    text-transform: capitalize;
    padding: 4px 20px;
    box-shadow: 0 0 0 0 greenyellow;
    animation: glow 1.4s linear infinite;
}

/*** Facts ***/
.fact {
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../img/bg-carousel-1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*** Footer ***/
.footer {
    background: linear-gradient(rgba(0, 0, 0, .9), rgba(0, 0, 0, .9)), url(../img/bg-carousel-2.jpg) center center no-repeat;
    background-size: cover;
}

.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid #FFFFFF;
    border-radius: 35px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .3);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}

